.diagram-net {

  &__node_render {
    // position: absolute;
    display: inline-block;
    background-color: aliceblue;
    border: 4px solid #2fdbab;

    &__span {
      font-size: 18px;
      padding: 3px;
    }
  }

  &__node_pure {
    // position: absolute;
    display: inline-block;
    background-color: aliceblue;
    border: 4px solid palevioletred;

    &__span {
      font-size: 18px;
      padding: 3px;
    }
  }

  &__node_resource {
    // position: absolute;
    display: inline-block;
    background-color: aliceblue;
    border: 4px solid #dba311;

    &__span {
      font-size: 18px;
      padding: 3px;
    }
  }

  &__port {

    position: absolute;
    z-index: 10;

    &__in {
      border: 1px solid green;

      :hover {
        background-color: green;
      }
    }

    &__out {
      border: 1px solid blueviolet;

      :hover {
        background-color: blueviolet;
      }
    }

    &__right {
      position: absolute;
      bottom: 1rem;
      right: -2rem;
    }

    &__left {
      position: absolute;
      left: -2rem;
      bottom: 1rem;
    }

    &__bottom {
      position: absolute;
      bottom: -2rem;
    }

    &__top {
      position: absolute;
      bottom: 4rem;
    }
  }
}

.converter-icon_up {
  width: 2rem;
  fill: #2fdbab;
}

.converter-icon_down {
  width: 2rem;
  fill: palevioletred;
}