$green_color: rgb(192, 255, 0);
$blue_color: rgb(0, 192, 255);

.configurer-props {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  * {
    font-size: 16px;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2rem;

    input {
      width: 5rem;
      height: 2rem;
    }
  }
}

.setting-section {
  height: 2rem;

  &__icon {
    width: 100%;
    height: 100%;
  }
}

.log-section {
  height: 2rem;

  &__icon {
    width: 2rem;
    height: 100%;
  }
}

.editor_input {
  min-width: 2rem;
}

.actor-existing {
  display: flex;
  justify-content: space-between;

  .editor_button {
    width: 6rem;
  }
}

#popover-select-pretrained {
  max-width: 100rem;
}

.execution-panel-block {
  overflow-y: scroll;
  max-height: 90rem;
  font-size: 16px;
}

.execution-state-element {
  display: flex;
  flex-direction:  column;
  justify-content: space-between;
  margin-top: 2rem;

  &__state {
    font-size: 16px;
    //display: flex;
    //justify-content: center; /* align horizontal */
    //align-items: center; /* align vertical */
  }
}

.complete-and-log {
  display: flex;
  justify-content: space-between;
}

.log-box {
  overflow-y: scroll;
  max-height: 20rem;
}

.my-rect {
 stroke-width: 4px;
 stroke: blue;
}

.node_item {
  display: inline-block;
  //display: flex;
  //flex-direction: row;
  //justify-content: left;
  //margin-bottom: 1rem;

  &__widget {
    display: inline-block;
  }

  //&__title {
  //  margin-left: 3rem;
  //  transform: translateY(25%);
  //}
}


.tray {
  display: flex;
  flex-direction: row;
}

.tray-item {
  //width: 4.5rem;
  //height: 4.5rem;
  //margin-left: 2rem;

  &__in {
    background-color: $green_color;
  }

  &__out {
    background-color: $blue_color;
  }
}

#popover-select-output {
  max-width: 100rem;
  min-width: 40rem;
  min-height: 20rem;

  pre {
    min-height: 20rem;
  }
}

.log-error {
  color: red;
}