.header-nav {
   height: 5rem;
}

.header-nav:first-child {
  border-style: solid;
}

.main-header {
  border-style: solid;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

body {
  padding-top: 5rem;
}
.btn-open-menu {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}